@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #feffb1;
  --foreground: #0a0a0a;
  --purple-2: #b414b3;
  --yellow-1: #feffb1;
  --purple-1: #7511be;
  --font: white;
}

/* tar bort pilarna i inputfältet för nummer */
@layer utilities {
  .no-spin::-webkit-inner-spin-button,
  .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spin {
    -moz-appearance: textfield; /* Firefox */
  }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradiantBg {
  background: linear-gradient(to right, #7511be, #b414b3);
}

.league-gothic {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  
}
